[Dials]
seed = 1266
timesteps = 10
extinction_gap = 2
environment_x = 1
environment_y = 1
output_file = ../results/1a.csv
decay = False
diffusion = False
infinite_resources = True

[Species_A]
species = A
A_niche_construction = 2
production_bias = 1

[Species_B]
species = B
B_niche_construction = 0
production_bias = 2
