[Dials]
seed = 7720
timesteps = 46
extinction_gap = 2
environment_x = 1
environment_y = 1
output_file = ../results/1d.csv
decay = False
diffusion = False
infinite_resources = False

[Species_A]
species = A
A_niche_construction = 2
production_bias = 1

[Species_B]
species = B
B_niche_construction = 1
production_bias = 2
