[Dials]
seed = 4140
timesteps = 200
extinction_gap = 50
environment_x = 1
environment_y = 1
output_file = ../results/2a.csv
decay = True
diffusion = False
infinite_resources = False

[Species_A]
species = A
A_niche_construction = 0
lifespan = 10
production_bias = 1

[Species_B]
species = B
B_niche_construction = 0
lifespan = 20
production_bias = 1


