[Dials]
seed = 3134
timesteps = 1000
extinction_gap = 20
environment_x = 10
environment_y = 10
output_file = ../results/3.csv
decay = True
diffusion = True
infinite_resources = False

[Species_A]
species = A
A_niche_construction = 2
lifespan = 10
production_bias = 1

[Species_B]
species = B
B_niche_construction = 0
lifespan = 20
production_bias = 1
